<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>placeholder</title>
    <script>
        function makepage() {
            window.location = '/makeit';
        }
        function ratepage() {
            window.location = '/rateit';
        }
    </script>
</head>
<body class="body">
    <b1 type="button" class="submission" onclick="makepage()" >makeit</b1>
    <b1 type="button" class="generate" onclick="ratepage()">rateit</b1>
    <h1 class="myText">kuch toh hai.</h1>
</body>
</html>