<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>placeholder</title>
    <script>
    </script>
</head>
<body style="background-color:black;" >
    <form action="#" method="post">
    <p style="color: white; font-size: 4svh; ">PROFILE</p>
    <p style="color: white; font-size: 3svh; ">Name</p>
    <p><input type="text" name="name"/></p>
    <p style="color: white; font-size: 3svh; ">Email</p>
    <p><input type="text" name="Email"/></p>
    <p style="color: white; font-size: 3svh; ">Mobile</p>
    <p><input type="text" name="Mobile"/></p>
    <p style="color: white; font-size: 3svh; ">Portfolio</p>
    <p><input type="text" name="Portfolio"/></p>
    <p style="color: white; font-size: 3svh; ">Github</p>
    <p><input type="text" name="Github"/></p>
    <p style="color: white; font-size: 4svh; ">EDUCATION</p>
    <p style="color: white; font-size: 3svh; ">College Name</p>
    <p><input type="text" name="College"/></p>
    <p style="color: white; font-size: 3svh; ">City, Country</p>
    <p><input type="text" name="loc1"/></p>
    <p style="color: white; font-size: 3svh; ">Course, Branch</p>
    <p><input type="text" name="branch"/></p>
    <p style="color: white; font-size: 3svh; ">GPA</p>
    <p><input type="text" name="gpa"/></p>
    <p style="color: white; font-size: 3svh; ">Course Duration</p>
    <p><input type="text" name="courseduration"/></p>
    <p style="color: white; font-size: 3svh; ">Key Courses Taken</p>
    <p><input type="text" name="keycourse"/></p>
    <p style="color: white; font-size: 4svh; ">SKILL SUMMARY</p>
    <p style="color: white; font-size: 3svh; ">Languages</p>
    <p><input type="text" name="Languages"/></p>
    <p style="color: white; font-size: 3svh; ">Frameworks</p>
    <p><input type="text" name="Frameworks"/></p>
    <p style="color: white; font-size: 3svh; ">Tools</p>
    <p><input type="text" name="Tools"/></p>
    <p style="color: white; font-size: 3svh; ">Platforms</p>
    <p><input type="text" name="Platforms"/></p>
    <p style="color: white; font-size: 3svh; ">Soft Skills</p>
    <p><input type="text" name="Soft Skills"/></p>
    <p style="color: white; font-size: 4svh; ">EXPERIENCE</p>
    <p style="color: white; font-size: 3svh; ">Company 1</p>
    <p><input type="text" name="comp1"/></p>
    <p style="color: white; font-size: 3svh; ">Location</p>
    <p><input type="text" name="exloc1"/></p>
    <p style="color: white; font-size: 3svh; ">Role</p>
    <p><input type="text" name="role1"/></p>
    <p style="color: white; font-size: 3svh; ">Duration</p>
    <p><input type="text" name="dur1"/></p>
    <p style="color: white; font-size: 3svh; ">Keyword 1</p>
    <p><input type="text" name="key11"/></p>
    <p style="color: white; font-size: 3svh; ">Description</p>
    <p><input type="text" name="desc11"/></p>
    <p style="color: white; font-size: 3svh; ">Keyword 2</p>
    <p><input type="text" name="key12"/></p>
    <p style="color: white; font-size: 3svh; ">Description</p>
    <p><input type="text" name="desc12"/></p>
    <p style="color: white; font-size: 3svh; ">Keyword 3</p>
    <p><input type="text" name="key13"/></p>
    <p style="color: white; font-size: 3svh; ">Description</p>
    <p><input type="text" name="desc13"/></p>
    <p style="color: white; font-size: 3svh; ">Company 2</p>
    <p><input type="text" name="comp2"/></p>
    <p style="color: white; font-size: 3svh; ">Location</p>
    <p><input type="text" name="exloc2"/></p>
    <p style="color: white; font-size: 3svh; ">Role</p>
    <p><input type="text" name="role2"/></p>
    <p style="color: white; font-size: 3svh; ">Duration</p>
    <p><input type="text" name="dur2"/></p>
    <p style="color: white; font-size: 3svh; ">Keyword 1</p>
    <p><input type="text" name="key21"/></p>
    <p style="color: white; font-size: 3svh; ">Description</p>
    <p><input type="text" name="desc21"/></p>
    <p style="color: white; font-size: 3svh; ">Keyword 2</p>
    <p><input type="text" name="key22"/></p>
    <p style="color: white; font-size: 3svh; ">Description</p>
    <p><input type="text" name="desc22"/></p>
    <p style="color: white; font-size: 3svh; ">Keyword 3</p>
    <p><input type="text" name="key23"/></p>
    <p style="color: white; font-size: 3svh; ">Description</p>
    <p><input type="text" name="desc23"/></p>
    <p style="color: white; font-size: 4svh; ">PROJECTS</p>
    <p style="color: white; font-size: 3svh; ">Project 1</p>
    <p><input type="text" name="proj1"/></p>
    <p style="color: white; font-size: 3svh; ">Description</p>
    <p><input type="text" name="prodesc1"/></p>
    <p style="color: white; font-size: 3svh; ">Project 2</p>
    <p><input type="text" name="proj2"/></p>
    <p style="color: white; font-size: 3svh; ">Description</p>
    <p><input type="text" name="prodesc2"/></p>
    <p style="color: white; font-size: 4svh; ">AWARDS</p>
    <p style="color: white; font-size: 3svh; ">Award 1</p>
    <p><input type="text" name="award1"/></p>
    <p style="color: white; font-size: 3svh; ">Award 2</p>
    <p><input type="text" name="award2"/></p>
    <p style="color: white; font-size: 3svh; ">Award 3</p>
    <p><input type="text" name="award3"/></p>
    <p style="color: white; font-size: 4svh; ">VOLUNTEER</p>
    <p style="color: white; font-size: 3svh; ">Title</p>
    <p><input type="text" name="voltitle1"/></p>
    <p style="color: white; font-size: 3svh; ">Location</p>
    <p><input type="text" name="volloc1"/></p>
    <p style="color: white; font-size: 3svh; ">Description</p>
    <p><input type="text" name="voldesc1"/></p>
    <p style="color: white; font-size: 3svh; ">Duration</p>
    <p><input type="text" name="voldur1"/></p>
    <p style="color: white; font-size: 3svh; ">Title 2</p>
    <p><input type="text" name="voltitle2"/></p>
    <p style="color: white; font-size: 3svh; ">Location 2</p>
    <p><input type="text" name="volloc2"/></p>
    <p style="color: white; font-size: 3svh; ">Description 2</p>
    <p><input type="text" name="voldesc2"/></p>
    <p style="color: white; font-size: 3svh; ">Duration 2</p>
    <p><input type="text" name="voldur2"/></p>
    <p><input style="color: palevioletred; background-color: white;" type="submit" value="submit"/></p>
</form>
    <h1 class="myText">kuch toh hai.</h1>
</body>
</html>